.navbar {
  background-color: #131324;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  z-index: 50;
  top: 0;
  backdrop-filter: blur(10px);  /* Agrega el efecto de desenfoque */
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  z-index: 50;
}

.nav-menu {
  background-color: #131324;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 50;
}


.nav-menu.active {
  left: 0;
  transition: 350ms;
  backdrop-filter: blur(10px); /* Agrega el efecto de desenfoque */
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5; 
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #131324;
  transition: all 0.2s ease-out;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #131324;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.span {
  margin-left: 16px;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;
}

.navbar-right {
  background-color: #131324;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 50;
  top: 0;
  backdrop-filter: blur(10px);  /* Agrega el efecto de desenfoque */
}

.nav-menu-right {
  background-color: #131324;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  transition: 850ms;
  z-index: 50;
}

.nav-menu-right.active {
  right: -100%;
  transition: 350ms;
  backdrop-filter: blur(10px); /* Agrega el efecto de desenfoque */
}

.chat-button {
  margin-right: 2.5rem;
  width: 40px; /* Ancho específico en píxeles */
  height: 40px; /* Alto específico en píxeles */
  background: none;
  z-index: 50;

}

.colour {
  background-color: #4c9fc9;
}